---
import AboutHeroImage from '~/assets/blog-placeholder-about.jpg';
import Layout from '~/layouts/Post.astro';
---

<Layout
	title="Über mich"
	description="Kurze Vorstellung."
	pubDate={new Date('August 08 2021')}
	heroImage={AboutHeroImage}
	locale="de"
>
	<p>Hier steht die deutsche Version der Über-mich-Seite.</p>
</Layout>
